$primary-light: #739dd3;
$dark-one: #10171f;
$dark-two: #19232f;
$dark-three: #202d3b;
$dark-four: #293848;

$slate-two: #607185;
$slate-three: #7d8fa3;
$slate-four: #a5b4c4;
$off-white: #e3e9f0;
$white: #ffffff;

$primary-dark: #3f85d1;
$primary-text: #8dbfff;
$secondary-dark: #e0b931;
$secondary-medium: #e3c149;
$secondary-light: #eece5c;

$primary-transparent-1: rgba(63, 133, 209, 0.08);
$primary-transparent-2: rgba(63, 133, 209, 0.14);
$red: #b7242a;
$dark-grey-blue: #344559;
$primary-medium: #5b96d5;
$blue-semitransparent-bg-1: rgba(91, 150, 213, 0.15);
$blue-semitransparent-bg-2: rgba(91, 150, 213, 0.08);
$slate: #485769;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  color:#7d8fa3;
  //background-color: #10171f;
}

* {
  box-sizing: border-box;
  // transition: all 0.3s ease-out;
  color: white;
}

.building_name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 10px;
  border-left: 1px solid;
  pointer-events: none;
  //font-variant: small-caps;
  width: 400px;

}

.card {
  // background: #fafbfc;

  border: 2px double #007abc65;
  background-color: #007abc45;
  mix-blend-mode: screen;
  overflow: hidden;
  box-shadow: 0px 0px 38px 0px rgba(0, 1, 2, 0.1);

  margin: 30px 0px;
  margin-top: 0px;
}

.frame {
  // background: #fafbfc;

  border: 2px double #007abc65;
  background-color: #007abc45;
  //mix-blend-mode: screen;
  overflow: hidden;
  box-shadow: 0px 0px 38px 0px rgba(0, 1, 2, 0.1);

  //margin: 30px 0px;
}

.circle {
  transform-origin: center;
}

.infopanel {
  z-index: 200000000;
  position: relative;
  box-sizing: border-box;
  align-self: flex-end;
  justify-self: flex-end;
  overflow: hidden;
  padding: 30px;
  background-color: #00000098;
  overflow: hidden;
  backdrop-filter: blur(5px);
  border: 1px solid gold;
  height: 100%;
  width: 100%;
  color: black;
}

.iconFrame {
  border: 1px double #007abc95;
}

.mainBar {
  display: grid;
  grid-template: 'sign output' 1fr 'sign input' 50px / 100px 1fr;
  height: 100%;
}

.maininputinput {
  background: none;
  outline: none;
  border: none;
}

.frame {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.closeButton, button {
  background-color: #8dbfff;
  color:#ffffff;
  border-radius: 2px;
  padding: 5px;
  border: none;
  margin-right: 5px;
  text-transform: uppercase;
}

.card,
.frame,
div.infopanel {
  border-radius: 3px;
  padding: 10px;

}

.floorSvg {
  transform: rotateX(70deg) rotateY(0deg) rotateZ(30deg);
  transform-box: fill-box;
  transform-origin: center;
  stroke: #999;
}

.infopanel {
  display: grid;
  position: relative;
  grid-template: 'floors details' 100% / 300px 1fr;

  .closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .floorsGroup {
    grid-area: floors;
  }

  .details {
    grid-area: details;
  }
}

.sectionTitle{
  //border: solid 1px red;
  border-bottom: solid 1px #007abc65;
  margin-bottom: 20px;
}
.main_panel{
  /*borderRadius: 10,
  height: '100%',
  width: '100%',
  overflow: 'hidden',
  padding: 0,
  margin: 0,

   */
}